
.header{
    background-color: red;
    height: 50px;
    
}
.header-logo{
    background-color: antiquewhite;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    color: red;
    text-align: center;
    font-size: 30px;
    margin-left: 1%;
    margin-top: 3px;
    display: inline-block;
}
.user-account{
    display: inline-block;
    float: right;
    padding-top: 15px;
    color: white;
    font-weight: 500;
    margin-right: 20px;
}
.login{
    display: inline-block;
}
.signup{
    display: inline-block;
    border: solid 1px white;
    padding: 3px;
    margin-left: 8px;
}
.heading{
    font-size: 38px;
    font-weight: bold;
    color: darkblue;
    font-family: Arial black;
    padding-top: 33px;
    padding-left: 60px;
    margin-bottom: 50px;
}
.filter{
    box-shadow: 5px 5px 10px 6px rgb(31, 5, 177);
    height: 700px;
    width: 70%;
    margin-left: 35px;
}
.item{
    box-shadow: 5px 5px 10px 6px rgb(31, 5, 177);
    width: 90%;
    height: 300px;
    margin-bottom: 35px;
}
.fil{
        font-size: 30px;
        font-weight: bold;
        padding-left: 30px;
        padding-top: 20px;
        padding-bottom: 5px;
}
.location{
        font-size: 25px;
        padding-left: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
.search-box{
    height: 35px;
    width: 230px;
    padding-left: 4px;
    margin-left: 30px;
    font-size: 17px;
}
.cuisine{
    font-size: 25px;
    font-weight: bold;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.checkbox{
    padding-left: 26px;
    font-size: 20px;
}
.cost{
    font-size: 25px;
    font-weight: bold;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.radio{
    padding-left: 26px;
    font-size: 20px;
}
.short{
    font-size: 25px;
    font-weight: bold;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.shorting{
    padding-left: 26px;
    font-size: 20px;
}
.left-portion{
    display: inline-block;
    width: 26%;
    padding-left: 40px;
    padding-top: 22px;
    border-radius: 25px;
}
.right-portion{
    display: inline-block;
    width: 65%;
    vertical-align: top;
    padding-top: 40px;
}
.item-decs{
    font-size: 40px;
    font-weight: bold;
    font-family: initial;
    color: navy;
}
.fort{
    font-size: 27px;
    font-weight: 700;
    font-family: -webkit-pictograph;
    color: navy;
    padding-top: 10px;
    padding-bottom: 10px;
}
.item-desc2{
    font-size: 21px;
    padding-bottom: 30px;
    color: navy;
}
.bakery{
    font-size: 24px;
    color: navy;
    padding-left: 40px;
    padding-top: 5px;
    font-family: system-ui;
}
.rate{
    font-size: 25px;
    font-weight: bold;
    padding-left: 120px;
    color: navy;
}
.rate1{
    font-size: 24px;
    font-weight: bold;
    color: navy;
    padding-left: 55px;
}
.butt{
    padding-left: 275px;
    padding-top: 5px;
}
.button{
    color: black;
    background-color: white;
    padding: 12px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: -12px 1px;
    cursor: pointer;
    padding-left: 14px;
}